<div>
	<h1>Cambio de contraseña a Usuario</h1>
</div>
<%= form_tag admin_changepass_path%>
<div class: "Sign_Form">
	<div class="form-control">
      <%= label_tag(:username, 'Ingrese usuario a cambiar contraseña  ') %>
      <%= text_field_tag(:username, nil, placeholder: "Ingrese nombre de usuario.") %>
     </div>
	<div class="form-control">
      <%= label_tag(:passwordnew, 'Ingrese contraseña nueva') %>
      <%= password_field_tag(:passwordnew, nil, placeholder: "Entre 6 a 20 caracteres") %>
     </div>
     	<div class="form-control">
      <%= label_tag(:passwordnew2, 'Repita contraseña nueva') %>
      <%= password_field_tag(:passwordnew2, nil, placeholder: "Repita contraseña.") %>
     </div>      
    <div class="form-control">
      <%= submit_tag("Cambiar") %>
    </div>
    </br>
    <span class="mensaje"><%= @error%></span>
</div>