<!DOCTYPE html>
<html>
	<head>
	  <title>Proyecto</title>
	  <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %> 
	</head>
	<body>
		<header>
		         <ul class="menu">
		          <li class="menu-item"><%= link_to "Inicio",root_path %></li>
		          <li><a href="/smartwatch" class="menu-item">SmartWatch</a></li>
		          <li><a href="/vinos" class="menu-item">Vino</a></li>
		          <li><a href="/ofertas" class="menu-item">Ofertas</a></li>
		          <%if session[:user_id]==nil%>
		          <li class="menu-ingresar"><%= link_to "Ingresar", sessions_login_path %></li>
		          <%else%>
		          <li class="menu-ingresar"><%= link_to "Salir", sessions_logout_path %></li>
		          <li class="menu-ingresar"><%= link_to "Mi Cuenta", user_account_path %></li>
		          <li class="active-menu-ingresar"><%= link_to "Administracion", admin_menu_path %></li>
		          <%end%>
		        </ul>     
		</header>
		<div class="admin-menu">
			<aside>
				<section class="admin-side"><%= link_to "Ver usuarios", admin_users_path %></section>
				<section class="admin-side"><%= link_to "Crear un nuevo usuario", admin_new_path%></section>
				<section class="admin-side"><%= link_to "Ver datos de usuario", admin_showselect_path %></section>
				<section class="admin-side"><%= link_to "Editar datos básicos de usuario", admin_edit_path %></section>
				<section class="admin-side"><%= link_to "Cambiar contraseña", admin_passselect_path %></section>
				<section class="admin-side"><%= link_to "Bloquear usuario", admin_blockselect_path %></section>
				<section class="admin-side"><%= link_to "Reactivar usuario", admin_activeselect_path %></section>
				<section class="admin-side"><%= link_to "Publicar Articulo", admin_article_path %></section>
			</aside>
		</div>
		<div class="main">

			<%= yield %>

		</div>
	</body>
</html>